#Logs
logs
*.log
npm-debug.log*
coverage
.nyc_output

# Runtime data
pids
*.pid
*.seed

#OS Junk
.DS_STORE

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Build Result
lib
